<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ACT Jeopardy</title>

  <meta charset="UTF-8">


  <!-- Bootstrap Core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

  <!-- Theme CSS -->
  <link href="css/grayscale.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- Intro Header -->
<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">ACT Jeopardy</h1>
          <p class="intro-text">A Free And Fun Way To Prepare For The ACT.</p>
          <a href="#about" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- About Section -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-3">
      <h2>Facts about the ACT</h2>
      <p>Cheating on the ACT can get you arrested</p>
      <p> The average composite ACT score was 21.1 out of a maximum of 36</p>
      <p>
        Most Four-Year Colleges Use Test Scores in Their Admission Decisions
      </p>
    </div>
  </div>
</section>

<!-- Download Section -->
<section id="download" class="content-section text-center" style="background-color:grey;">
  <div class="download-section">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Start a New Game</h2>
        <p>Test youself and see if you know enough for the ACT</p>
      </div>
    </div>
  </div>


  <!----ACT--Questions---->

  <div class="row">

    <div class="container">
      <div class="card">
        <div class="face front">
          <img width="300px" src="https://cdn4.iconfinder.com/data/icons/glyphlibrary-one/100/atom-512.png">
        </div>
        <div class="face back">

          <h4>
         What is Photosynthesis?
      </h4>
          <form method="POST" action="/check_answer">
            <input type="radio" name="science_2" value="1"> A. The process that plants use to make food <br>
            <input type="radio" name="science_2" value="0"> B. A Video Game<br>
            <input type="radio" name="science_2" value="0"> C. Part of the plant<br>
            <input type="radio" name="science_2" value="0"> D. A type of inorganic fertilizer<br>

        </div>
      </div>
    </div>
  </div>
  <section id="download" class="content-section text-center">
    <div class="row">


      <div class="container">
        <div class="card">
          <div class="face front">
            <img width="300px" src="https://cdn4.iconfinder.com/data/icons/glyphlibrary-one/100/atom-512.png">
          </div>
          <div class="face back">

            <h4>
         What is the function of the mitochondria?
        </h4>
            <input type="radio" name="science_1" value="0"> A. They do nothing <br>
            <input type="radio" name="science_1" value="1"> B. They take in energy/power<br>
            <input type="radio" name="science_1" value="0"> C. They protect the plants<br>
            <input type="radio" name="science_1" value="0"> D. Gives energy to the plant<br>

          </div>
        </div>
      </div>
    </div>
<br>
    <br>
    <br>


    <div class="container">
      <div class="card">
        <div class="face front">
          <img width="300px" src="https://cdn2.iconfinder.com/data/icons/money-finance/512/abacus-512.png">
        </div>
        <div class="face back">

          <h4>
         A car averages 27 miles per gallon.If gas costs $ 4.04 per gallon,which of the following is closest to how much the gas would cost for this car to travel 2,727 typical miles?
        </h4>
          <input type="radio" name="math_2" value="0"> A. $44.44 <br>
          <input type="radio" name="math_2" value="0"> B. $109.08<br>
          <input type="radio" name="math_2" value="0"> C. $18.80<br>
          <input type="radio" name="math_2" value="1"> D. $408.04 <br>
          <input type="radio" name="math_2" value="0"> E. $444.40<br>

        </div>
      </div>
    </div>
<br>
    <br>
    <br>

    <div class="container">
      <div class="card">
        <div class="face front">
          <img width="300px" src="https://cdn2.iconfinder.com/data/icons/money-finance/512/abacus-512.png">
        </div>
        <div class="face back">

          <h4>How many irrational numbers are there between 1 and 6?</h4>
          <input type="radio" name="math_1" value="0"> A. 1<br>
          <input type="radio" name="math_1" value="0"> B. 3<br>
          <input type="radio" name="math_1" value="0"> C. 4<br>
          <input type="radio" name="math_1" value="0"> D. 10<br>
          <input type="radio" name="math_1" value="1"> E. Infinitely many<br>

        </div>
      </div>
    </div>
    <br>
    <br>
    <br>


    <div class="container">
      <div class="card">
        <div class="face front">
          <img width="300px" src="https://cdn2.iconfinder.com/data/icons/money-finance/512/abacus-512.png">
        </div>
        <div class="face back">
          <h4>
      What is the difference between 1.8 and 1.08 repeating?</h4>
          <input type="radio" name="math_3" value="0"> A. 0.71 <br>
          <input type="radio" name="math_3" value="0"> B. 0.71 repeating<br>
          <input type="radio" name="math_3" value="1"> C. 0.719 repeating<br>
          <input type="radio" name="math_3" value="0"> D. 0.72 repeating<br>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>


      <div class="container">
        <div class="card">
          <div class="face front">
            <img width="300px" src="https://cdn2.iconfinder.com/data/icons/money-finance/512/abacus-512.png">
          </div>
          <div class="face back">
            <h4>     |7(-3) + 2(4)| = ?</h4>
            <input type="radio" name="math_5" value="0"> A. -28 <br>
            <input type="radio" name="math_5" value="1"> B. -13<br>
            <input type="radio" name="math_5" value="0"> C. 13<br>
            <input type="radio" name="math_5" value="0"> D. 28<br>
            <input type="radio" name="math_5" value="0"> E. 29<br>
          </div>
        </div>
      </div>
    </div>
    </div>
<br>
    <br>
    <br>

  
    <div class="container">
      <div class="card">
        <div class="face front">
          <img width="300px" src="https://cdn2.iconfinder.com/data/icons/money-finance/512/abacus-512.png">
        </div>
        <div class="face back">
          <h4>           Meg pounded a stake into the ground. When she
attached a leash to both the stake and her dog’s collar,
the dog could reach 9 feet from the stake in any direction.
Using 3.14 for π, what is the approximate area of
the lawn, in square feet, the dog could reach from the
stake?   </h4>
          <input type="radio" name="math_4" value="0"> A. 28 <br>
          <input type="radio" name="math_4" value="0"> B. 57<br>
          <input type="radio" name="math_4" value="0"> C. 113<br>
          <input type="radio" name="math_4" value="1"> D. 254<br>
          <input type="radio" name="math_4" value="0"> E. 283<br>
        </div>
      </div>
    </div>
<br>
  <br>
  <br>
    <input type="submit">
    </form>

  </section>

  <!---card pictures
http://www.iconsdb.com/icons/preview/gray/book-16-xxl.png
      https://cdn2.iconfinder.com/data/icons/text-editing-glyph-black/614/3812_-_Spelling-512.png
      https://cdn4.iconfinder.com/data/icons/glyphlibrary-one/100/atom-512.png
      https://cdn1.iconfinder.com/data/icons/mathematics-line-3/48/116-512.png
      http://www.iconsdb.com/icons/preview/black/finish-flag-xxl.png--->